{% extends 'base.html'%}
{% load bootstrap3 %}


{%block content %}

<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

    <div class="jumbotron text-center" style="background-color:black;">

        <h1 class="h1" style="font-family: 'Abril Fatface', cursive; color:white;font-size:70px;">The Image Gallery
        </h1>

        <p style="font-family: 'Kodchasan', sans-serif;color:white;">When words become unclear, I shall focus with
            photographs. When images become inadequate, I shall be content with silence.</p>

    </div>



    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/animals/adorable-animals-breed-374825.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/animals/adorable-animals-breed-374825.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/animals/animal-photography-animals-big-cats-39629.jpg"
                            width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/animals/animal-photography-animals-big-cats-39629.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/astronaut-astronomy-cosmonaut-355956.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/astronaut-astronomy-cosmonaut-355956.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/hills/adult-beautiful-blowing-293029.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/hills/adult-beautiful-blowing-293029.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary//galaxy/arches-national-park-dark-dusk-33688.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/arches-national-park-dark-dusk-33688.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/animals-birds-feathers-39627.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/animals-birds-feathers-39627.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/animals/animal-photography-animals-avian-1054650.jpg"
                            width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/animals/animal-photography-animals-avian-1054650.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/people/army-authority-boot-camp-280002.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/people/army-authority-boot-camp-280002.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/animals-bird-nest-birds-145954.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/animals-bird-nest-birds-145954.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/people/ball-beach-blond-hair-1362480.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/people/ball-beach-blond-hair-1362480.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/people/beautiful-daylight-dress-1666073.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/people/beautiful-daylight-dress-1666073.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/animals-avian-birds-100576.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/animals-avian-birds-100576.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/ocean/animals-aquatic-black-and-white-726478.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/ocean/animals-aquatic-black-and-white-726478.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/ocean/animal-beach-bird-66258.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/ocean/animal-beach-bird-66258.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/animals-antarctica-avian-46235.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/animals-antarctica-avian-46235.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/ocean/animal-aquatic-corals-847393.jpg width=" 120%">
                            <div class="try">
                                <img src="../../static/images-gallary/ocean/animal-aquatic-corals-847393.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/hills/clouds-hd-wallpaper-hills-63324.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/hills/clouds-hd-wallpaper-hills-63324.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/animal-photography-animals-birds-112548.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/animal-photography-animals-birds-112548.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/hills/blue-clouds-exotic-37403.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/hills/blue-clouds-exotic-37403.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/hills/black-and-white-boat-darkness-748626.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/hills/black-and-white-boat-darkness-748626.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/animal-birds-nature-66904.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/animal-birds-nature-66904.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/hills/alaska-forest-hd-wallpaper-792.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/hills/alaska-forest-hd-wallpaper-792.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/hills/adult-beautiful-blowing-293029.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/hills/adult-beautiful-blowing-293029.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/animal-animal-photography-avian-1035056.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/animal-animal-photography-avian-1035056.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/hills/4k-wallpaper-agriculture-clouds-842711.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/hills/4k-wallpaper-agriculture-clouds-842711.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/animals/animals-beak-beautiful-1181181.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/animals/animals-beak-beautiful-1181181.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/africa-animal-animals-417142.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/africa-animal-animals-417142.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xs-124">
                    <div class="im">
                        <a href="../../static/images-gallary/animals/animals-cats-cute-45170.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/animals/animals-cats-cute-45170.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/animals/africa-animals-dusk-40756.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/animals/africa-animals-dusk-40756.jpg" itemprop="thumbnail"
                                    data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE" alt=""
                                    width="120%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3  col-lg-4 col-xs-12">
                    <div class="im">
                        <a href="../../static/images-gallary/galaxy/adult-astronomy-astrophotography-1567069.jpg" width="120%">
                            <div class="try">
                                <img src="../../static/images-gallary/galaxy/adult-astronomy-astrophotography-1567069.jpg"
                                    itemprop="thumbnail" data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"
                                    alt="" width="120%">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{%endblock%}