{% extends 'base.html'%}
{% load bootstrap3 %}


{%block content %}

<div class="row">
    <div class="col-md-12">
        <img src="../../static/images-gallary/animals/adorable-animal-photography-animals-198162.jpg" alt="cute">
        <h1 class="text-center">Photos</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="im">
            <a href="../../static/images-gallary/animals/adorable-animals-breed-374825.jpg" width = "10px">
                <div class="try">
                    <img src="../../static/images-gallary/animals/africa-animals-dusk-40756.jpg" itemprop="thumbnail"  data-test="standard-photo-grid-multi-col-img" style="background-color:#FEFDFE"  alt="">
                </div>
            </a>
        </div>
    </div>
</div>

{%endblock%}